<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Carbono</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav></nav>
    <section class="bloco" id="banner">
        <div id="destaque_imagem"></div>
        <div id=txt_banner>
            <p>Texto foda</p>
            <a href="">Inciar Calculadora</a>
        </div>
    </section>
    <section class="bloco" id="introducao">
        <div>
            <p>AAAAAAAAAAAAAAAAAAA</p>
        </div>
    </section>
    <section class="bloco" id="calculadora">
        <div id="interface_calculadora">
            <div id="display_calculadora">
                <span>0000000000</span>
            </div>
            <div class="numeros_calculadora">
                <div class="linha">
                    <button href="">1</button><button href="">2</button><button href="">3</button>
                </div>
                <div class="linha">
                    <button href="">4</button><button href="">5</button><button href="">6</button>
                </div>
                <div class="linha">
                    <button href="">7</button><button href="">8</button><button href="">9</button>
                </div>
                <div class="linha">
                    <button href="">0</button>
                </div>
            </div>
        </div>
        <div id="inputs_calculadora"></div>
    </section>
</body>
</html>