<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarbonoEssencial</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <section class="bloco" id="banner">
        <div id="destaque_imagem"></div>
        <div id=txt_banner>
            <p>Texto foda</p>
            <a href="">Inciar Calculadora</a>
        </div>
    </section>
    <section class="bloco" id="introducao">
        <div>
            <p>O objetivo do nosso site é criar uma Calculadora de Carbono que possa estimar as emissões de CO₂ produzidas em diversos meios, 
            mas também conscientizar a população sobre o gasto e emissão de C0₂. Abordamos as emissões por consumo de eletricidade, 
            gás de cozinha, veículos de transporte individuais, coletivos e de viagens, além de criar um sistema que estimula o usuário a tomar decisões que evitem as possíveis emissões, 
            como geração de energia limpa, optar por transportes coletivos ao invés de individuais e diversas outras. 
            Com o auxílio da ferramenta, os usuários podem perceber a importância de serem responsáveis ​​por suas emissões e orientar para a utilização de medidas mitigadoras, 
            o que estimula um melhor entendimento do meio ambiente.</p>
        </div>
    </section>
    <section class="bloco" id="calculadora">
        <div id="interface_calculadora">
            <div id="display_calculadora">
                <span>0000000000</span>
            </div>
            <div class="numeros_calculadora">
                <div class="linha">
                    <button class="btn_calculadora">1</button><button class="btn_calculadora">2</button><button class="btn_calculadora">3</button>
                </div>
                <div class="linha">
                    <button class="btn_calculadora">4</button><button class="btn_calculadora">5</button><button class="btn_calculadora">6</button>
                </div>
                <div class="linha">
                    <button class="btn_calculadora">7</button><button class="btn_calculadora">8</button><button class="btn_calculadora">9</button>
                </div>
                <div class="linha">
                    <button class="btn_calculadora">0</button>
                </div>
            </div>
        </div>
        <div id="inputs_calculadora">
            <h2>O que Deseja Calcular?</h2>
            <button class="opcao_emissao">Emissões por Eletricidade</button>
            <button class="opcao_emissao">Emissões por Gás de Cozinha</button>
            <button class="opcao_emissao">Emissões de Transporte Individual</button>
            <button class="opcao_emissao">Emissões de Transporte Coletivo</button>
            <button class="opcao_emissao">Emissões de Transporte de Viagem</button>
        </div>
    </section>
    <footer>
        <div id="contatos">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>
</body>
</html>